

.menu_{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  height: 800px;
  position: relative;
}

.menu_1{
 grid-column: 1/2;
 grid-row: 1/2;
 background: #FFFFFF 0% 0% no-repeat padding-box;
 opacity: 0.8;
 padding: 2rem;
  display: flex;
}
.menu_1:hover {
background: #1D71B8 0% 0% no-repeat padding-box;

  

}

.menu_1:hover .m1child{
  color: white !important;
}
.menu_2{
 grid-column: 2/3;
 grid-row: 1/2;
background: #E8E8E8 0% 0% no-repeat padding-box;
opacity: 0.8;
padding: 2rem;
 display: flex;
}
.menu_2:hover{
background: #1D71B8 0% 0% no-repeat padding-box;

}

.menu_2:hover .m2child{
  color: white !important;
}
.menu_3{
 grid-column: 1/2;
 grid-row: 2/3;
 background: #E8E8E8 0% 0% no-repeat padding-box;
opacity: 0.8;
padding: 2rem;
 display: flex;
}
.menu_3:hover{
background: #1D71B8 0% 0% no-repeat padding-box;

}

.menu_3:hover .m3child{
  color: white !important;
}
.menu_4{
 grid-column: 2/3;
 grid-row: 2/3;
 background: #FFFFFF 0% 0% no-repeat padding-box;
 opacity: 0.8;
 padding: 2rem;
  display: flex;
}
.menu_4:hover{
background: #1D71B8 0% 0% no-repeat padding-box;
}
.menu_4:hover .m4child{
  color: white !important;
}
.menu_1 div,.menu_2 div,.menu_3 div,.menu_4 div{
      display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
}

.menu_ a h1{
text-align: left;
font: normal normal normal 58px/56px Open Sans;
letter-spacing: 0px;
color: #2785C1;
margin: 0;
text-transform: uppercase;
}


.menu_ a h2{
text-align: left;
font: normal normal 800 58px/56px Open Sans;
letter-spacing: 0px;
color: #2785C1;
margin: 0;
text-transform: uppercase;
}

.menu_ a p{
text-align: left;
font: normal normal normal 25px/30px Open Sans;
letter-spacing: 0px;
color: #1D71B8;
opacity: 1;
margin: 0;
text-transform: uppercase;
}

.menu_4 div img, .menu_3 div img, .menu_2 div img, .menu_1 div img{
  margin-top: auto;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 0;


}

.menu_ a{
  text-decoration: none;
}

@media /*(min-width: 576px) and */(max-width: 1355px) {
  .menu_{
    padding-top: 8rem;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(1, 1fr);
  
}
  

.menu_1{
 grid-column: 1/2;
 grid-row: 1/2;
 background: #FFFFFF 0% 0% no-repeat padding-box;
 opacity: 0.8;
 padding: 2rem;
  display: flex;
}




.menu_2{
 grid-column: 1/2;
 grid-row: 2/3;
background: #E8E8E8 0% 0% no-repeat padding-box;
opacity: 0.8;
padding: 2rem;
 display: flex;
}

.menu_3{
 grid-column: 1/2;
 grid-row: 4/5;
 background: #E8E8E8 0% 0% no-repeat padding-box;
opacity: 0.8;
padding: 2rem;
 display: flex;
}

.menu_4{
 grid-column: 1/2;
 grid-row: 3/4;
 background: #FFFFFF 0% 0% no-repeat padding-box;
 opacity: 0.8;
 padding: 2rem;
  display: flex;
}

}


@media (max-width: 576px) {
.menu_{
  padding-top: 2rem;
}

.menu_ a img{
 
    right: 2rem;
    
   width: 57px;

;
}
.menu_ a h1{
text-align: left;
font: normal normal normal 37px/36px Open Sans;
letter-spacing: 0px;
color: #2785C1;
margin: 0;
text-transform: uppercase;
}

.menu_ a h2{
text-align: left;
font: normal normal 800 25px/36px Open Sans;
letter-spacing: 0px;
color: #2785C1;
margin: 0;
text-transform: uppercase;
}

.menu_ a p{
text-align: left;
font: normal normal normal 18px/20px Open Sans;
letter-spacing: 0px;
color: #1D71B8;
opacity: 1;
margin: 0;
text-transform: uppercase;
}

}